.addmeal{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 0px 10px;
    transform: translateY(-10%);
    width: 75%;
    position: relative;
    left:12%
}
.item{
    display: flex;
    justify-content: space-between;
}
.amountCount{
    position: relative;
    left: 0;
    margin-top:15px
}
.amountCount .box{
    border: 1px solid black;
    padding: 4px 10px;
    margin-left: 15%;
    outline: none;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bolder;
    border:none;
    border-radius: 10px;
    background-color: aqua;
}
.button{
    width:50%;
    position: relative;
    left: 25%;
    outline: none;
    cursor: pointer;
    border:none;
    padding:7px 10px;
    color:white;
    margin-top: 10px;
    background-color: darkred;
    font-weight: bolder;
    font-size:1rem;
    border-radius: 10px;
}
.summary{
    background-color: rgb(36, 34, 34);
    width:50%;
    text-align: center;
    color:white;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 3px 5px 15px black;
    position: relative;
    left:25%;
    opacity: 0;
    bottom:250px;
    animation: xyz forwards 1s ease-out;
}

@keyframes xyz {
    100%{
        bottom:100px;
        opacity: 1;
    }
}
.summary h2{
    font-size: 1.8rem;
}