.addmeal{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 0px 10px;
    transform: translateY(-10%);
    width: 75%;
    position: relative;
    left:12%
}

.summary{
    background-color: rgb(36, 34, 34);
    width:50%;
    text-align: center;
    color:white;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 3px 5px 15px black;
    position: relative;
    left:25%;
    opacity: 0;
    bottom:250px;
    animation: xyz forwards 1s ease-out;
}

@keyframes xyz {
    100%{
        bottom:100px;
        opacity: 1;
    }
}
.summary h2{
    font-size: 1.8rem;
}