.cart{
    background-color: rgb(78, 2, 2);
    padding: 10px;
    width:300px;
    font-weight: bolder;
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 7%;
    top: 26px;
    cursor: pointer;
    transition: all 0.5s ease-out;
    animation: xyz forwards 1.3s ease-out;
}
.list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.description{
margin: 10px 0px;
font-size: 1.3rem;
font-weight:900;
display: flex;
justify-content: space-between;
}
.action{
    float: right;
}
.action .close{
    margin-right:10px;
    padding: 10px;
    border:2px solid darkred;
    color:darkred;
    background-color: white;
    border-radius: 20px;
    font-weight: 900;
    width:100px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-out ;
}
.action .order{
    padding: 10px;
    border:none;
    color:white;
    background-color: darkred;
    border-radius: 20px;
    font-weight: 900;
    width:100px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-out ; 
}

@keyframes xyz {
    50%{
        transform: translateX(-50%);
    }
    100%{
        transform: translateX(0);
    }
}
.cart span i{
    font-size: 25px;
    margin-right: 10px;
}
.count{
    background-color: orange;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    width:25%;
    display: inline-block;
    margin-left:30px
}